header{
    background-color: #ff9741;
    background-image: linear-gradient(315deg, #b6440f 0%, #ff9e35 74%);
    border: #ffae0065 1px solid;
    nav{
        a{
            img{
                max-height: 100px;
                width: 100%;
            }
        }
    }
}
.navMod{
    font-size:medium;
    display: flex;
    justify-content: end;
    ul{
        li{
            margin-left: 25px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}